* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

header {
	background: transparent;
	box-shadow: none;
	display: flex;
	margin: auto -16px;
	padding: 16px 32px;
}

.css-menu {
	opacity: 1;
	background: transparent;
	color: rgb(52, 71, 103);
	box-shadow: none;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	width: 100%;
}

.css-navButton {
	user-select: none;
	font-size: 14px;
	font-weight: 600;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	flex-shrink: 0;
	color: rgb(52, 71, 103);
}

/* .MuiBox-root.css-1t6c9ts button:first-child {
	border: 1px red solid !important;
} */

.css-enf76l-MuiPaper-root {
	border-radius: 20px !important;
}
.css-wzcev9-MuiButtonGroup-root.MuiButtonGroup-grouped:not(:last-of-type) {
	border-right: 0;
}

.css-ur1qsj-MuiContainer-root {
	margin-top: 80px;
	background-color: salmon;
}
